@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        @if (Model.Ticket.IsPremium)
        {
            <p>
                <b>You purchased a Premium Ticket!</b>
            </p>
            <p>
                Your total cost is $@(Model.Ticket.BasePrice + Model.Ticket.PremiumFee)
            </p>
        }
        else
        {
            <p>
                Your total cost is $@Model.Ticket.BasePrice
            </p>
        }

        
    </div>
</div>
